/*-----------------------------------------------------------------------------------*/
/* Add Blog page
/*-----------------------------------------------------------------------------------*/

/* Add Blog Entry  ***********************/

.addbloglink{
	margin-bottom: 20px;
    text-align: left;
    width: 100%;
	}

.addbloglink a{
	background: #333;
	color: #FFF;
	display: inline-block;
	*display: inline;
	line-height: 40px;
	padding: 0 50px 0 10px;
	text-align: center;
	width: auto;
	*zoom: 1;
	}

/* Accordion Settings  ***********************/

fieldset{
	background: #FAFAFA !important;
	border: 1px solid #E0E0E0;
	min-height: 35px;
	padding: 60px 15px 15px;
	position: relative;
	transition: height 0.2s ease-in-out 0s;
	}

fieldset.collapsed{
	padding: 15px;
	}
	
	fieldset.collapsed .fcontainer{
		display: none;
		}
				
		legend{
			margin: 0;
			position: absolute;
			top: 13px;
			width: 95%;
			}

		legend a.fheader {
			background: #E0E0E0;
			color: #333333;
			display: block;
			font-size: 120%;
			line-height: 40px;
			padding: 0 40px 0 10px;
			}
			
/* Expand/Collapse All Button  ***********************/		
			
.collapsible-actions{
	margin-bottom: 20px;
    text-align: right;
    width: 100%;
	}
			
	.collapseexpand{
		background: #333;
		color: #FFF;
		display: inline-block;
		*display: inline;
		line-height: 40px;
		padding: 0 50px 0 10px;
		text-align: center;
		width: auto;
		*zoom: 1;
		}
		
/* Tags ***********************/

#page-blog-edit fieldset.ftags{
	padding-top: 0;
	}
	
.ftags .accesshide{
	display: block;
	position: relative;
	text-indent: 0;
	visibility: visible;
	}
	
.ftags select{
	min-width: 300px;
	}


/* Errors  ***********************/
	
.error input{
	border-color: #c00 !important;
	}

span.error{
    background: none repeat scroll 0 0 #CC0000;
    color: #FFFFFF;
    font-family: Segoe UI Semilight;
    font-size: 80%;
    margin: 0;
    padding: 5px 10px;
    position: relative;
	}
	
	
/*-----------------------------------------------------------------------------------*/
/* Tags Page
/*-----------------------------------------------------------------------------------*/

/* Manage Tags Button  ***********************/

.managelink{
	margin-bottom: 20px;
    text-align: left;
    width: 100%;
	}

.managelink a{
	background: #333;
	color: #FFF;
	display: inline-block;
	*display: inline;
	line-height: 40px;
	padding: 0 50px 0 10px;
	text-align: center;
	width: auto;
	*zoom: 1;
	}

/* Tags Search results  ***********************/

#tag-search-results li{
	color: transparent;
	margin: 10px 0 0;
	}

#tag-search-results li a{
	background: #333 url([[pix:theme|bg_tag]]) no-repeat right center;
	color: #FFF;
	display: inline-block;
	line-height: 150%;
	margin-left: -10px;
    margin-right: 10px;
	padding: 0 40px 0 5px;
	}
	
	#tag-search-results li a:hover{
		background-color: #555;
		}
	
		
/* Tags Box  ***********************/

#big-tag-cloud-box{
    border: 3px solid #F0F0F0;
    padding: 15px;
	}

#big-tag-cloud-box ul{
	margin: 0;
	}


/*-----------------------------------------------------------------------------------*/
/* Add Tags Page
/*-----------------------------------------------------------------------------------*/