/*-----------------------------------------------------------------------------------*/
/* Block Stucture Settings
/*-----------------------------------------------------------------------------------*/

/* Block Containers ***********************/

.block{
	margin: 0 0 10px;
	position: relative;
	}
	
	.block:hover{
		z-index: 10;
		}

/* Block header ***********************/

.block .header{
	/*background-color: [[setting:sbbgc]];
	color: [[setting:sbtc]];*/
	background-color: #F0F0F0;
	margin: 0;
	padding: 10px;
	position: relative;
	z-index: 2;
	}
	
	.block .header h2{
		display: inline-block;
		*display: inline;
		font-size: 100%;
		font-weight: normal;
		line-height: 20px;
		margin: 5px 6px 5px 0;
		text-transform: uppercase;
		vertical-align: top;
		width: 182px;
		word-wrap: break-word;
		}

/* Block Content ***********************/

.block .block-content-wrapper{
	overflow: hidden;
	}

	.block .content{
		background-color: [[setting:sbbgc]];
		color: [[setting:sbtc]];
		background-color: #F0F0F0; /* Development Only */
		height: 100%;
		margin-top: 0;
		padding: 0 4% 4%;
		transition: all 0.2s ease-in-out 0s; 
		}

		.block.hidden .content{
			height: 1px;
			margin-top: -100%;
			transform: translateY(-100%);
			transform-origin: 0% 0%;
			}
			
			
/*-----------------------------------------------------------------------------------*/
/* Block Header - Actions & Commands
/*-----------------------------------------------------------------------------------*/

.actions-commands{
    display: inline-block;
	*display: inline;
    position: relative;
	text-align: right;
    vertical-align: top;
    width: 72px;
	z-index: 200;
	*zoom: 1;
	}
	
	/* Controls the Move Block, Edit Admin etc button */
	.commands{
		 display: none;
		 
		 }
	
	.block_with_controls .commands{
			background: #333 url([[pix:theme|block_settings]]) no-repeat center center;
			border-radius: 10px;
			cursor: pointer;
			display: inline-block;
			height: 20px;
			overflow: hidden;
			position: relative;
			text-align: left;
			transition: all 0.2s linear 0s;
			vertical-align: middle;
			width: 20px;
			}
		
		.commands:hover{
			background-color: #555;
			overflow: visible;
			}
		
		.commands:before {
			background: transparent;
			content: " ";
			display: block;
			font-size: 0;
			height: 30px;
			left: -5px;
			position: relative;
			width: 30px;
			}
		
		.commands .icon{
			background: #333;
			display: block;
			line-height: 50px;
			margin-left: -105px;
			padding: 0 10px;
			transition: all 0.2s linear 0s;
			width: 210px;
			z-index: -10;
			}
			
		.commands .icon:first-child:before{
			border: solid transparent;
			bottom: -10px;
			content: " ";
			height: 0;	
			pointer-events: none;
			position: absolute;
			width: 0;
			}
			
		.commands .icon:first-child:before{
				border-color: rgba(136, 183, 213, 0);
				border-bottom-color: #333;
				border-width: 10px;
				left: 50%;
				margin-left: -10px;
				}
			
		.commands .icon:after{
			color: #FFF;
			content: attr(title);
			font-size: 70%;
			margin-left: 10px;
			}
			
		.commands .icon:hover{
			background: #555;
			}
			
	/* Controls the Hide/Show and Dock block buttons */
	.block_action{
		display: inline-block;
		height: 20px;
		text-align: right;
		vertical-align: middle;
		width: auto;
		}
		
		.block_action img,
		.block_action input{
			background: #333;
			border-radius: 10px;
			cursor: pointer;
			display: inline-block;
			height: 20px;
			margin-left: 6px;
			transition: all 0.2s linear 0s;
			vertical-align: top;
			width: 20px;
			}
			
			.block_action img:hover,
			.block_action input:hover{
				background: #555;
				}
			
			.block .block_action .block-hider-hide,
			.block.hidden .block_action .block-hider-show{
				/* Show '-' when normal, Show '+' when hidden */
				display: inline-block;
				}

			.block .block_action .block-hider-show,
			.block.hidden .block_action .block-hider-hide{
				/* Hide '-' when hidden, Show '+' when normal */ 
				display: none;
				}
	

/*-----------------------------------------------------------------------------------*/
/* Block Content - Block Menu Settings
/*-----------------------------------------------------------------------------------*/

/* Global Block Menu Settings ***********************/

.block-region ul.block_tree{
	/* Tree style */
    margin: 0;
	padding: 0;
	}

.block-region .block ul.block_tree *,
.block-region .block ul.block_tree .tree_item.branch,
.block-region .block ul.block_tree .collapsed .tree_item.branch{
	/* Tree style reset */
	background: none;
    margin: 0;
	padding: 0;
	}
	
.block-region .block ul.block_tree>li{
	/* Main branch style */
    margin: 0 0 10px 0;
    padding: 0;
	}
	
	
	/* Top Level Menu items ***********************/
	
	
	.block-region ul.block_tree li ul a,
	.block-region ul.block_tree li ul p span{
		/* Top Level - Font size */
		font-size: 92%;
		}

	
	.block-region .block ul.block_tree li p.navigation_node{
		/* Navigation Block - Top Level Home Button */
		color: #333;
		}
		
	.block-region .block ul.block_tree li p.navigation_node a{
		/* Navigation Block - Top Level Branch Toggle */
		color: inherit;
		display: block;
		line-height: 280%;
		padding: 0;
		}
	
	.block-region .block ul.block_tree li p.root_node,
	.block-region .block ul.block_tree li p.branch a{
		/* Top Level - Branch Toggle */
		display: block;
		line-height: 280%;
		padding: 0;
		text-indent: 15px;
		}
			
		.block-region .block ul.block_tree li.collapsed p.tree_item.root_node{
			background: #FEFEFE url("[[pix:theme|menu_tree_state]]") no-repeat 95% -58%;
			border: 1px dotted #CCC;
			}
	
		.block-region .block ul.block_tree li p.tree_item.root_node {
			background: #FEFEFE url("[[pix:theme|menu_tree_state]]") no-repeat 95% 138%;
			border: 1px solid #F0F0F0;
			}
		
			.block-region .block ul.block_tree li.collapsed p.tree_item.root_node,
			.block-region .block ul.block_tree li p.tree_item.root_node{
				transition: background-color 0.2s linear 0s;
				}
				
			.block-region .block ul.block_tree li.collapsed p.tree_item.root_node:hover,
			.block-region .block ul.block_tree li p.tree_item.root_node:hover{
				background-color: #F6F6F6;
				}
		
	.block-region .block ul.block_tree li p.leaf a{
		/* Top Level - Leafs */
		/*color: #639;*/
		display: block;
		line-height: 230%;
		text-indent: 15px;
		}
				
	.block-region .block ul.block_tree li p.leaf a:hover{
		/* Top Level - Leafs Hover */
		background: #F6F6F6;
		}
		
	.block-region .block ul.block_tree li p.root_node + ul{
		/* Top level - Dropdown Panel */
		background: #FEFEFE;
		border: none;
		margin: 3px 0;
		padding: 5px 0;
		position: relative;
		}
		
		.block-region .block ul.block_tree li p.root_node + ul:after,	
		.block-region .block ul.block_tree li p.root_node + ul:before{
			/* Global arrow style */
			border: solid transparent;
			border-width: 8px;
			bottom: 100%;
			content: " ";
			height: 0;
			right: 7%;
			pointer-events: none;
			position: absolute;
			width: 0;	
			}
				
		.block-region .block ul.block_tree li p.root_node + ul:after{
			/* Foreground arrow style */
			border-color: rgba(239, 239, 14, 0);
			border-bottom-color: #FEFEFE;
			margin-bottom: -3px;
			}
		
		.block-region .block ul.block_tree li p.root_node + ul:before{
			/* Background arrow style */
			border-color: rgba(240, 240, 240, 0);
			border-bottom-color:  #F0F0F0;
			margin-bottom: 1px;
			}
		
		
	/* Second Level Menu items ***********************/

	.block-region .block ul.block_tree li ul li p.branch,
	.block-region .block ul.block_tree li ul li p.branch a{
		/* Second Level - Branch Toggle */
		color: #999;
		display: block;
		line-height: 230%;
		text-indent: 0;
		}
		
		.block-region .block ul.block_tree li ul li.collapsed p.branch span,
		.block-region .block ul.block_tree li ul li p.branch span,
		.block-region .block ul.block_tree li ul li p.branch ul{
			/* Second Level - Branch Toggle Span */
			display: block;
			margin: 0 15px;
			}
		
		.block-region .block ul.block_tree li ul li.collapsed p.branch a{
			text-indent: 15px;
			}
			
		.block-region .block ul.block_tree li ul li.collapsed p.tree_item.branch,
		.block-region .block ul.block_tree li ul li p.tree_item.branch{
			transition: background-color 0.2s linear 0s;
			}
				
		.block-region .block ul.block_tree li ul li.collapsed p.tree_item.branch:hover,
		.block-region .block ul.block_tree li ul li p.tree_item.branch:hover{
			background-color: #F6F6F6;
			}

			.block-region .block ul.block_tree li ul li.collapsed p.tree_item.branch{
				background: transparent url("[[pix:theme|menu_branch_state]]") no-repeat 95% -20%;
				}
		
			.block-region .block ul.block_tree li ul li p.tree_item.branch{
				background: transparent url("[[pix:theme|menu_branch_state]]") no-repeat 95% 108%;
				}
			
		.block-region .block ul.block_tree li ul li ul{
			/* Second Level - Drop Down Panel */
			border-bottom: 1px dashed #E6E6E6;
			border-top: 1px dashed #E6E6E6;
			display: block;
			margin: 0 15px;
			}	
			
			
		/* Third Level Menu items ***********************/
	
		.block-region .block ul.block_tree li ul li ul li.collapsed p.branch span,
		.block-region .block ul.block_tree li ul li ul li.collapsed p.branch a,
		.block-region .block ul.block_tree li ul li ul li p.branch span,
		.block-region .block ul.block_tree li ul li ul li p.branch a{
			/* Third Level - Branch Toggle Span */
			border-bottom: none;
			font-weight: normal;
			text-indent: 15px;
			}
		
		.block-region .block ul.block_tree li ul li ul li.collapsed p.tree_item.branch,
		.block-region .block ul.block_tree li ul li ul li p.tree_item.branch{
			transition: background-color 0.2s linear 0s;
			}
				
		.block-region .block ul.block_tree li ul li ul li.collapsed p.tree_item.branch:hover,
		.block-region .block ul.block_tree li ul li ul li p.tree_item.branch:hover{
			background-color: #F6F6F6;
			}
		
			.block-region .block ul.block_tree li ul li ul li.collapsed p.tree_item.branch{
				background: transparent url("[[pix:theme|menu_branch_state]]") no-repeat 95% -20%;
				}
		
			.block-region .block ul.block_tree li ul li ul li p.tree_item.branch{
				background: transparent url("[[pix:theme|menu_branch_state]]") no-repeat 95% 108%;
				}

		.block-region .block ul.block_tree li ul li ul li ul{
			/* Third Level - Drop Down Panel */
			border: 0;
			/*border-left: 1px dashed #E6E6E6;*/
			display: block;
			margin: 0 15px 10px;
			}
			
		.block-region .block ul.block_tree li ul li ul li ul p.leaf a{
			/* Third Level - Leafs */
			/*border-left: 2px solid #e6e6e6;*/
			display: block;
			line-height: 230%;
			text-indent: 15px;
			}	
		
		.block-region .block ul.block_tree li ul li ul li ul p.leaf a:before{
			content: "-";
			left: -15px;
			position: absolute;
			}

		
/* Navigation Block Settings ***********************/
	
	
/* Settings Block Settings ***********************/

		
/* Block Search Settings ***********************/

.adminsearchform{
	margin: 20px 0 0;
	padding: 0;
	}

.adminsearchform input[type=text]{
    -moz-box-sizing: border-box;
    border-right: none;
    height: 40px;
	padding: 0;
    text-indent: 5px;
    width: 80%;
	}
	
.adminsearchform button{
	background: #DDD url("[[pix:theme|block_search]]") no-repeat center center;
	border: none;
	display: inline-block;
	padding: 0;
	text-indent: -9999px;
	width: 20%;
	}


/*-----------------------------------------------------------------------------------*/
/* Specifics
/*-----------------------------------------------------------------------------------*/

.block_navigation .block_tree .tree_item.branch.navigation_node > a{
	font-weight: bold;
	}

.block.block_calendar_month .minicalendar{
	font-size: 90%;
	width: 100%;
	}

	.block.block_calendar_month .minicalendar th,
	.block.block_calendar_month .minicalendar td{
		border: none;
		padding: 0;
		text-align: center;
		}

/* Block - Main Menu */
.chooserdialoguebody, .choosertitle{
	display: none;
	}