/*-----------------------------------------------------------------------------------*/
/* Global Block Settings
/*-----------------------------------------------------------------------------------*/

/* Block Containers ***********************/

.block{
	margin: 0 0 10px;
	position: relative;
	}
	
	.block:hover{
		z-index: 10;
		}

/* Block header ***********************/

.block .header{
	/*background-color: [[setting:sbbgc]];
	color: [[setting:sbtc]];*/
	background-color: #F0F0F0;
	margin: 0 0 3px;
	padding: 10px;
	position: relative;
	z-index: 2;
	}
	
	.block .header h2{
		display: inline-block;
		*display: inline;
		font-size: 100%;
		font-weight: normal;
		line-height: 20px;
		margin: 5px 6px 5px 0;
		text-transform: uppercase;
		vertical-align: top;
		width: 182px;
		word-wrap: break-word;
		}

/* Block Content ***********************/

.block .block-content-wrapper{
	overflow: hidden;
	}

	.block .content{
		background-color: [[setting:sbbgc]];
		color: [[setting:sbtc]];
		background-color: #F0F0F0; /* Development Only */
		height: 100%;
		margin-top: 0;
		padding: 4%;
		transition: all 0.2s ease-in-out 0s; 
		}

		.block.hidden .content{
			height: 1px;
			margin-top: -100%;
			transform: translateY(-100%);
			transform-origin: 0% 0%;
			}

/* Block Actions & Commands ***********************/

.actions-commands{
    display: inline-block;
	*display: inline;
    position: relative;
	text-align: right;
    vertical-align: top;
    width: 72px;
	z-index: 200;
	*zoom: 1;
	}
	
	/* Controls the Move Block, Edit Admin etc button */
	.commands{
		 display: none;
		 
		 }
	
	.block_with_controls .commands{
			background: #333 url([[pix:theme|block_settings]]) no-repeat center center;
			border-radius: 10px;
			cursor: pointer;
			display: inline-block;
			height: 20px;
			overflow: hidden;
			position: relative;
			text-align: left;
			transition: all 0.2s linear 0s;
			vertical-align: middle;
			width: 20px;
			}
		
		.commands:hover{
			background-color: #555;
			overflow: visible;
			}
		
		.commands:before {
			background: transparent;
			content: " ";
			display: block;
			font-size: 0;
			height: 30px;
			left: -5px;
			position: relative;
			width: 30px;
			}
		
		.commands .icon{
			background: #333;
			display: block;
			line-height: 50px;
			margin-left: -105px;
			padding: 0 10px;
			transition: all 0.2s linear 0s;
			width: 210px;
			z-index: -10;
			}
			
		.commands .icon:first-child:before{
			border: solid transparent;
			bottom: -10px;
			content: " ";
			height: 0;	
			pointer-events: none;
			position: absolute;
			width: 0;
			}
			
		.commands .icon:first-child:before{
				border-color: rgba(136, 183, 213, 0);
				border-bottom-color: #333;
				border-width: 10px;
				left: 50%;
				margin-left: -10px;
				}
			
		.commands .icon:after{
			color: #FFF;
			content: attr(title);
			font-size: 70%;
			margin-left: 10px;
			}
			
		.commands .icon:hover{
			background: #555;
			}
			
	/* Controls the Hide/Show and Dock block buttons */
	.block_action{
		display: inline-block;
		height: 20px;
		text-align: right;
		vertical-align: middle;
		width: auto;
		}
		
		.block_action img,
		.block_action input{
			background: #333;
			border-radius: 10px;
			cursor: pointer;
			display: inline-block;
			height: 20px;
			margin-left: 6px;
			transition: all 0.2s linear 0s;
			vertical-align: top;
			width: 20px;
			}
			
			.block_action img:hover,
			.block_action input:hover{
				background: #555;
				}
			
			.block .block_action .block-hider-hide,
			.block.hidden .block_action .block-hider-show{
				/* Show '-' when normal, Show '+' when hidden */
				display: inline-block;
				}

			.block .block_action .block-hider-show,
			.block.hidden .block_action .block-hider-hide{
				/* Hide '-' when hidden, Show '+' when normal */ 
				display: none;
				}
	
/* Block Menu Settings ***********************/	

.block-region .block_tree{
    margin:0;
	padding: 0;
	}
	
.block-region .block_tree li{
    margin: 0;
	padding: 0;
	}

.block-region .block_tree li ul{
    margin: 0;
	padding: 0;
	}
	
				
/* Navigation Block Settings ***********************/
	
.block_navigation .block_tree .type_activity > p.tree_item.branch.hasicon.active_tree_node,
.block_navigation .block_tree .tree_item{
    margin: 0;
    padding-left: 0;
	}
	
.block_navigation .block_tree li span,
.block_navigation .block_tree li a{
	display: block;
    line-height: 190%;
	}

			
/* Settings Block Settings ***********************/

.block_settings .block_tree .type_activity > p.tree_item.branch.hasicon.active_tree_node,
.block_settings  .block_tree .tree_item{
    margin: 0;
    padding-left: 0;
	}
	
.block_settings .block_tree li span,
.block_settings .block_tree li a{
	display: block;
    line-height: 190%;
	}

/* Block Search Settings ***********************/

.adminsearchform input[type=text]{
	border-right: none;
	width: 172px;
	}

.adminsearchform button{
	background: #DDD url("[[pix:theme|block_search]]") no-repeat center center;
	border: none;
	display: inline-block;
	padding: 20px;
	text-indent: -9999px;
	}
	
/* Block Menu Settings ***********************/

.block-region .block_tree{
    margin:0;
	padding: 0;
	}
	
.block-region .block_tree li{
    margin: 0;
	padding: 0;
	}

.block-region .block_tree li ul{
    margin: 0;
	padding: 0;
	}
	

.block_settings .block_tree li ul {
    border-right: medium none;
    border-top: 3px solid #F0F0F0 !important;
    margin: 0;
    padding-left: 18px;
}
	
.block-region .block_tree li {
    margin: 10px 0;
    padding: 0;
}	
	
.block-region .block_tree li ul,
.block-region .block_tree li.depth_2 ul {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FEFEFE;
    border-color: -moz-use-text-color #CCCCCC -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: none solid none none;
    border-width: 0;
    position: relative;
	}
	
.block-region .block_tree li ul:after,	
.block-region .block_tree li ul:before{
    border: solid transparent;
	border-width: 8px;
	bottom: 100%;
    content: " ";
    height: 0;
	right: 7%;
    pointer-events: none;
    position: absolute;
    width: 0;	
	}
		
.block-region .block_tree li ul:after {
	border-color: rgba(239, 239, 14, 0);
    border-bottom-color: #FEFEFE;
	margin-bottom: -3px;
	}

.block-region .block_tree li ul:before {
	border-color: rgba(240, 240, 240, 0);
    border-bottom-color:  #F0F0F0;
	margin-bottom: 1px;
	}
	
.block_settings .block_tree li.item_with_icon > p {
    padding-left: 0;
	}
	
.block-region .block_tree li span,
.block-region .block_tree li a {
    display: block;
    font-size: 94%;
    line-height: 190%;
    text-indent: 10px;
	}
	
.block-region .block_tree li span{
	line-height: 280%;
	}
	
body.jsenabled .block .block_tree .collapsed .tree_item.branch {
    background: #FEFEFE url("[[pix:theme|block_menu_toggle]]") no-repeat 95% -50%;
	}
	
	body.jsenabled .block .block_tree .tree_item.branch {
		background: #FEFEFE url("[[pix:theme|block_menu_toggle]]") no-repeat 95% 130%;
		}


/*-----------------------------------------------------------------------------------*/
/* Specifics
/*-----------------------------------------------------------------------------------*/

.block_navigation .block_tree .tree_item.branch.navigation_node > a{
	font-weight: bold;
	}

.block.block_calendar_month .minicalendar{
	font-size: 90%;
	width: 100%;
	}

	.block.block_calendar_month .minicalendar th,
	.block.block_calendar_month .minicalendar td{
		border: none;
		padding: 0;
		text-align: center;
		}

/* Block - Main Menu */
.chooserdialoguebody, .choosertitle{
	display: none;
	}