/*-----------------------------------------------------------------------------------*/
/* Section Comment
/*-----------------------------------------------------------------------------------*/

/* Sub-Section Comment ***********************/

/* Standard Comment */

body {
	background: [[setting:pagebbgc]] none;
	color: #333;
	font: 100%/150% "Segoe UI Light", Helvetica, Arial, sans-serif;
	}