/*-----------------------------------------------------------------------------------*/
/* Section Comment
/*-----------------------------------------------------------------------------------*/

/* Sub-Section Comment ***********************/

/* Standard Comment */

button,
input[type="button"],
input[type="submit"],
.btn{
	background: #333 url([[pix:theme|bg_white-chevron]]) no-repeat right center;
	border: none;
	border-right: 20px solid transparent;
	border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	-webkit-border-radius: 0;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
	*display: inline;
	height: 40px;
    line-height: 40px;
    margin-bottom: 0;
    padding: 0 30px 0 10px;
    text-align: center;
	transition: background-color 0.2s linear 0s;
    vertical-align: middle;
	*zoom: 1;
    }

button:first-child,
input[type="button"]:first-child,
input[type="submit"]:first-child,
.btn:first-child {
    *margin-left: 0
    }

button:active,
input[type="button"]:active,
input[type="submit"]:active,
.btn:active {
	background-color: #111;
    outline: 0;
    }

button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    }

button:hover,
button:focus,
button[disabled],
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
.btn:hover,
.btn:focus,
.btn.disabled{
    background-color: #222;
    }

button[disabled] {
    cursor: default;
    filter: alpha(opacity=65);
    opacity: 0.65;
    }
	
.search{
	background-image: url("[[pix:theme|block_search]]");
	}