/*-----------------------------------------------------------------------------------*/
/* Custom Menu
/*-----------------------------------------------------------------------------------*/

/* Global Screen Settings **********/

#custommenu *{
	background: none;
	border: none;
	float: none;
	padding: 0;
	}

#custommenu{
	background: rgba(255,255,255,0.5);
	width: 100%;
	}	
	
	.yui3-menu-content{
		margin: 0 auto;
		}		
	
	#custommenu ul{
		
		}
		
		#custommenu ul li{
			display: inline-block;
			}
		
			#custommenu ul li a{
				display: block;
				cursor: pointer;
				line-height: 30px;
				}
			
				#custommenu ul li ul li{
					display: list-item;
					}
					

/* Wide Screen Setting **********/

.wide .yui3-menu-content{
	width: 1180px;
	}

/* Normal Screen Setting **********/

.normal .yui3-menu-content{
	width: 940px;
	}

/* Narrow Screen Setting **********/

.narrow .yui3-menu-content{
	width: 736px;
	}

/* Mobile Screen Setting **********/

.mobile .yui3-menu-content{
	width: 100%;
	}