/*-----------------------------------------------------------------------------------*/
/* General Forms
/*-----------------------------------------------------------------------------------*/

/* Form | Fieldset | Legend | General Form Settings  ***********************/

form {
	background: #FF9933; /* Delete before production */
	display: block !important;
    margin: 0 0 20px;
	padding: 20px;
    }

fieldset {
    margin: 0 0 15px;
    }

legend {
    border: 0;
    display: block;
    margin-bottom: 20px;
    padding: 0;
    }

label,
input,
button,
select,
textarea {
    line-height: 40px;
    }

input,
button,
select,
textarea {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif
    }


/* Labels & Placeholders ***********************/

label {
	background: #0088CC; /* Remove before production */
    display: inline-block;
	vertical-align: top;
    }
	
input::-moz-placeholder {
	color: #999;
	}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #999;
	}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #999;
	}
	
	
/* Inputs ***********************/

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	border: 3px solid #333; /* Change to #FFF before production */
    display: inline-block;
    height: 34px;
    line-height: 34px;
    padding: 0 1%;
	transition: border linear .2s;
    vertical-align: middle;
	width: auto;
	}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #999; /* Change to #FFF before production */
    outline: 0;
    outline: thin dotted \9;
    }
	
input,
textarea{
    width: 294px
    }

textarea {
    height: auto
    }

input[type="radio"],
input[type="checkbox"] {
    *margin-top: 0;
    margin: 4px 0 0;
    margin-top: 1px \9;
    }

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: thin solid #999;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    }

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
    width: auto
    }

select,
input[type="file"] {
    *margin-top: 4px;
    /* For IE7, add top margin to align select with labels */
    /* In IE7, the height of the select element cannot be changed by height, only font-size */
    height: 34px;
    line-height: 34px;
    }

select {
	height: 40px;
	padding: 3px;
	}

select[multiple],
select[size] {
    height: auto
    }

input[class*="span"],
select[class*="span"],
textarea[class*="span"]{
    float: none;
    margin-left: 0;
    }

input,
textarea{
    margin-left: 0
    }

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    background-color: #eeeeee;
    cursor: not-allowed;
    }

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
    background-color: transparent
    }

/*-----------------------------------------------------------------------------------*/
/* Index and Login Page Forms
/*-----------------------------------------------------------------------------------*/

#page-site-index #login{
	width: 320px;
	}