/*-----------------------------------------------------------------------------------*/
/* Section Comment
/*-----------------------------------------------------------------------------------*/

/* Sub-Section Comment **********/

/* Standard Comment */

html,
body{
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	}

body{
	background: none;
	height: 100%;
	left: 0;
	min-height: 100%;
	padding: 0;
	text align: center;
	transition: 0.3s ease-in-out 0s;
	width: auto;
	}

/*	body:hover{
		left: -700px;
		}*/
	
	body:hover #page:after{
		content: ".";
		background: rgba(0,0,0,0.5);
		box-shadow: 3px 0 3px rgba(0,0,0,0.8);
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		width: 5px;
		z-index: 100;
		}
	
#page{
	background: #FFF;
	[[setting:pagebggrad]]background: -moz-linear-gradient(top, [[setting:pagebgc]] 0%, [[setting:pagebbgc]] 100%);
	[[setting:pagebggrad]]background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,[[setting:pagebgc]]), color-stop(100%,[[setting:pagebbgc]]));
	[[setting:pagebggrad]]background: -webkit-linear-gradient(top, [[setting:pagebgc]] 0%,[[setting:pagebbgc]] 100%);
	[[setting:pagebggrad]]background: -o-linear-gradient(top, [[setting:pagebgc]] 0%,[[setting:pagebbgc]] 100%);
	[[setting:pagebggrad]]background: -ms-linear-gradient(top, [[setting:pagebgc]] 0%,[[setting:pagebbgc]] 100%);
	[[setting:pagebggrad]]background: linear-gradient(top, [[setting:pagebgc]] 0%,[[setting:pagebbgc]] 100%);
	[[setting:pagebggrad]]filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='[[setting:pagebgc]]', endColorstr='[[setting:pagebbgc]]', GradientType=0);
	background: [[setting:pagebbgc]];
	height: auto;
	left: 0;
	margin: 0 auto -300px;
	min-height: 100%;
	min-width: 300px;
	padding: 0;
	position: relative;
	text-align: left;
	transition: left 0.3s ease-in-out 0s;
	width: 100%;
	}


#section-header,
#page-content,
#section-footer{
	text-align: center;
	width: 100%;
	}
	
.push{
	display: block;
	height: 300px;
	}
	
#section-footer{
	/* background: #e6e6e6;  Remove after development */
	display: inline-block;
	*display: inline;
	height: 300px;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	*zoom: 1;
	}

#page-header,
#region-main-box,
#region-post-box,
#zone-footer{
	display: inline-block;
	*display: inline;
	position: relative;
	text-align: left;
	transition: all 0.2s linear 0s; 
	*zoom: 1;
	}
	
#region-post-box{
	width: 100%;
	}
	
#page-content #region-main-box .column{
	display: inline-block;
	*display: inline;
	vertical-align: top;
	transition: all 0.2s linear 0s; 
	*zoom: 1;
	}

	#page-content #region-pre{  
		/* background: #999; Remove after development */
		}
		
	#page-content #region-main{
		padding: 0 5%;
		width: 90%;
		}

	#page-content #region-post{  
		/* background: #999; Remove after development */
		}

/*-----------------------------------------------------------------------------------*/
/* Mobile Screen | < 760px - Media Queries 
/*-----------------------------------------------------------------------------------*/

/* Both Sidebars **********/

@media all and (min-device-width: 340px){

#page-header{
	margin: 0;
	width: 100%;
	}

#region-main-box,
#zone-footer{
	margin: 0 2%;
	width: 96%;
	}

#page-content #region-main,
#page-content #region-main-wrap{
	padding: 0;
	width: 100%;
	}

#page-content #region-pre{
	width: 100%;
	}

#page-content #region-post{
	width: 100%;
	}
	
/* One Sidebar Only **********/

.side-pre-only #page-content #region-main-wrap,
.side-post-only #page-content #region-main-wrap{

	}

/* First Sidebar Only **********/

.side-pre-only #page-content #region-main{ /* Remove after development if empty */
	
	}

/* Second Sidebar Only **********/

.side-post-only #page-content #region-main{ /* Remove after development if empty */

	}

/* No Sidebars **********/

.content-only #page-content #region-main-wrap{ /* Remove after development if empty */

	}

}


/*-----------------------------------------------------------------------------------*/
/* Narrow Screen | 760px - Media Queries 
/*-----------------------------------------------------------------------------------*/

/* Both Sidebars **********/

@media all and (min-width: 780px) and (min-device-width: 780px), (max-device-width: 800px) and (min-width: 780px) and (orientation:landscape){

#page-header{
	margin: 0;
	width: 100%;
	}

#custommenu .yui3-menu-content,	
#ticker .wrapper,
.navbar .navbar-wrapper,
.editing-bar .nav-button{
	width: 736px;
	}
	
#region-main-box,
#zone-footer{
	margin: 0 10px;
	width: 736px;
	}
	
#page-content #region-main-wrap{
	float: left;
	width: 567px;
	}

#page-content #region-main{
	float: right;
	padding: 0 10px;
	width: 378px;
	}

#page-content #region-pre{
	float: left;
	width: 169px;
	}

#page-content #region-post{
	float: right;
	width: 169px;
	}
	
/* One Sidebar Only **********/

.side-pre-only #page-content #region-main-wrap,
.side-post-only #page-content #region-main-wrap{
	width: 100%;
	}

.side-pre-only #page-content #region-main,
.side-post-only #page-content #region-main{
	width: 557px;
	}
	
/* First Sidebar Only **********/

.side-pre-only #page-content #region-main{
	padding: 0 0 0 10px;
	}

/* Second Sidebar Only **********/

.side-post-only #page-content #region-main{
	float: left;
	padding: 0 10px 0 0;
	}

/* No Sidebars **********/

.content-only #page-content #region-main-wrap{
	width: 736px;
	}

}


/*-----------------------------------------------------------------------------------*/
/* Normal Screen | 960px - Media Queries 
/*-----------------------------------------------------------------------------------*/

/* Both Sidebars **********/

@media all and (min-width: 980px) and (min-device-width: 980px), all and (max-device-width: 1024px) and (min-width: 1024px) and (orientation:landscape){

#page-header{
	margin: 0;
	width: 100%;
	}
	
#custommenu .yui3-menu-content,	
#ticker .wrapper,
.navbar .navbar-wrapper,
.editing-bar .nav-button{
	width: 940px;
	}
	
#region-main-box,
#zone-footer{
	margin: 0 10px;
	width: 940px;
	}

#page-content #region-main-wrap{
	float: left;
	width: 720px;
	}
	
#page-content #region-main{
	float: right;
	padding: 0 20px;
	width: 460px;
	}

#page-content #region-pre{
	float: left;
	width: 220px;
	}

#page-content #region-post{
	float: right;
	width: 220px;
	}
	
/* One Sidebar Only **********/

.side-pre-only #page-content #region-main-wrap,
.side-post-only #page-content #region-main-wrap{
	width: 100%;
	}

.side-pre-only #page-content #region-main,
.side-post-only #page-content #region-main{
	width: 690px;
	}

/* First Sidebar Only **********/

.side-pre-only #page-content #region-main{
	padding: 0 0 0 20px;
	}

/* Second Sidebar Only **********/

.side-post-only #page-content #region-main{
	float: left;
	padding: 0 20px 0 0;
	}

/* No Sidebars **********/

.content-only #page-content #region-main-wrap{
	width: 940px;
	}

.content-only #page-content #region-main{
	padding: 0;
	width: 100%;
	}
	
}


/*-----------------------------------------------------------------------------------*/
/* Wide Screen | 1200px - Media Queries 
/*-----------------------------------------------------------------------------------*/

/* Both Sidebars **********/

@media all and (min-width: 1220px) and (min-height: 760px){

#page-header{
	margin: 0;
	width: 100%;
	}
	
#custommenu .yui3-menu-content,	
#ticker .wrapper,
.navbar .navbar-wrapper,
.editing-bar .nav-button{
	width: 1180px;
	}
	
#region-main-box,
#zone-footer{
	margin: 0 10px;
	width: 1180px;
	}

#page-content #region-main-wrap{
	float: left;
	width: 900px;
	}

#page-content #region-main{
	float: right;
	padding: 0 30px;
	width: 560px;
	}

#page-content #region-pre{
	float: left;
	width: 280px;
	}

#page-content #region-post{
	float: right;
	width: 280px;
	}
	
/* One Sidebar Only **********/

.side-pre-only #page-content #region-main-wrap,
.side-post-only #page-content #region-main-wrap{
	width: 100%;
	}

.side-pre-only #page-content #region-main,
.side-post-only #page-content #region-main{
	width: 870px;
	}

/* First Sidebar Only **********/

.side-pre-only #page-content #region-main{
	padding: 0 0 0 30px;
	}

/* Second Sidebar Only **********/

.side-post-only #page-content #region-main{
	float: left;
	padding: 0 30px 0 0;
	}

/* No Sidebars **********/

.content-only #page-content #region-main-wrap{
	width: 100%;
	}

.content-only #page-content #region-main{
	padding: 0;
	width: 100%;
	}

}