/*-----------------------------------------------------------------------------------*/
/* Lists
/*-----------------------------------------------------------------------------------*/

/* Unoredered | ordered Lists ***********************/

ul,
ol {
	list-style: none;
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	}

ul ul,
ul ol,
ol ol,
ol ul {
	padding: 0;
	margin: 0;
	}

li {
	line-height: 150%;
	margin-left: 10px;
	}


/* Description Lists ***********************/

dl {
	margin-bottom: 20px;
	}

dt,
dd {
	line-height: 150%;
	}

dt {
	font-weight: bold;
	}

dd {
	margin-left: 10px;
	}
