/*-----------------------------------------------------------------------------------*/
/* Section Comment
/*-----------------------------------------------------------------------------------*/

#page-site-index.notloggedin .region-content {
	display: inline-block;
    position: relative;
    width: 100%;
	}
	
#page-site-index.notloggedin #region-main {
    float: none;
    padding: 0;
    width: 100%;
	}
	
#page-site-index.notloggedin #login {
	padding: 3%;
    width: 94%;
	}
	
#page-site-index.notloggedin #login fieldset{
    padding: 15px;
	}

#page-site-index.notloggedin #login label{
    display: none;
	}

#page-site-index.notloggedin .anonymous-content *{
	margin-right: 20px;
	}
	
#page-site-index.mobile.notloggedin .anonymous-content,
#page-site-index.mobile.notloggedin .loginbox{
	width: 100%;
	}

#page-site-index.mobile.notloggedin .anonymous-content{
	margin-bottom: 20px;
	}

.logo1 {
    left: 50%;
    margin-left: -137px;
    margin-top: -35px;
    position: absolute;
    top: 50%;
    z-index: 2000;
}

.mobile .logo1{
	margin-left: -110px;
	margin-top: -28px;
	}
	
.mobile .logo1 img{
	width: 80%
	}
	

.mobile #region-pre,
.mobile #region-post{
	display: block;
	position: relative;
	width: 100%;
	}

#frontpage-course-list {
    margin-top: 28px;
}

#dock{
	display: none;
	}

body.mobile-menu-open.wide,
body.mobile-menu-open.normal,
body.mobile-menu-open.narrow{
	left: 0 !important;
	}
	
		body.mobile-menu-open.wide #page:after,
		body.mobile-menu-open.normal #page:after,
		body.mobile-menu-open.narrow #page:after{
			display: none;
			}
		
#custommenu{
	display: none;
	}

.wide #custommenu,
.normal #custommenu,
.narrow #custommenu{
	display: block;
    margin-top: -28px;
	position: relative;
	z-index: 200;
	}
	
.mobile #custommenu{
	display: block;
	}
	
.banner li,
.banner li img{
	min-height: 120px;
	width: 100%;
	}
	
.mobile #page-content{
	padding-bottom: 40px;
	}

#page-footer .pageinfo,
#page-footer .logininfo{
    background: #C5C5C5;
    display: inline-block;
	*display: inline;
    font-size: 80%;
    padding: 5px 0;
    text-align: left;
    text-indent: 15px;
    width: 50%;
	*zoom: 1;
	}
	
#page-footer .logininfo{
	direction: rtl;
    text-align: right;
    text-indent: 15px;
	}
	
p.helplink{
	display: none;
	}
	
.normal #page-footer .pageinfo{
	width: 60%;
	}


.normal #page-footer .logininfo{
	width: 40%;
	}

.narrow #page-footer .pageinfo,
.narrow #page-footer .logininfo,
.mobile #page-footer .pageinfo,
.mobile #page-footer .logininfo{
    display: block;
    padding: 5px 0;
    text-align: center;
    text-indent: 0;
    width:100%;
	}
	
.mobile #page{
	margin-bottom: 0;
	}
	
.mobile .push{
	display: none;
	}
	
.mobile #section-footer{
	height: auto;
	margin-top: 60px;
	}
	
#page-footer{
	display: none;
	}



/* Sub-Section Comment ***********************/

/* Standard Comment */

#section-header{ /* For Default Theme */
	background-image: url([[pix:theme|banner_default]]);
	}

	#page-header{
		height: 100%;
		position: relative;
		}

		#page-header .meta{
			position: absolute;
			right: 0;
			width: 100%;
			z-index: 2;
			}
			
			#page-header .headermain{
				display: none;
				}

			#page-header .meta .headermenu{
				position: absolute;
				right: 20px;
				}
								
				#page-header .meta .headermenu .logininfo{
					background-color: #F7F7F7;
					color: #000;
					font-size: 84%;
					padding: 5px 10px;
					}

					#page-header .meta .headermenu .logininfo a{
						background-repeat: no-repeat;
						color: #000;
						padding-right: 0;
						}

						
/* Page Header Meta Mobile***********************/


.mobile #page-header .meta{
	background: #F7F7F7;
	height: 60px;
	overflow: visible !important;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 200;
	}
	
	.mobile #page-header .meta .headermenu{
		height: 60px;
		position: absolute;
		right: 0;
		text-align: right;
		width: 100%;
		}
		
	.mobile #page-header .meta .headermenu .logininfo{
		background-color: none;
		color: #000000;
		padding: 16px 65px 5px 0;
		}

.mobile #page-header .meta #menu-tray{
	background: #333  url("[[pix:theme|sidebar_toggle_hamburger]]");
	cursor: pointer;
	display: block;
	height: 60px;
	position: absolute;
	right: 0;
	width: 60px;
	z-index: 200;
	}
	
	.mobile #page-header .meta #menu-tray:hover{
		background-color: #444;
		}
	
	

.actions-commands .icon img{
	background: #FFF;
    border-radius: 20px;
	height: 12px;
	padding: 3px;
 	width: 12px
	}
	

/* Theme Settings Pages */

body.path-theme-ubertheme-basic form.theme-settings,
body#page-theme-ubertheme-admin form#adminsettings{

	}

	body.path-theme-ubertheme-basic form.theme-settings fieldset.collapsible,
	body#page-theme-ubertheme-admin form#adminsettings fieldset.collapsible{
		
		}

/* Custom - Should Remove Colors etc */
		body.path-theme-ubertheme-basic form.theme-settings fieldset.collapsible legend,
		body.path-admin-setting form#adminsettings .admin-setting-group h3{
			background-color: #999999;
			color: #FFFFFF;
			margin-bottom: 0;
			padding: 1%;
			width: 98%;
			}

			body.path-theme-ubertheme-basic form.theme-settings fieldset.collapsible legend a{
				color: #FFFFFF;
				display: block;
				height: 100%;
				padding: 0;
				width: 100%;
				}
			
			body.path-admin-setting form#adminsettings .admin-setting-group h3{
				cursor: pointer;
				}

				body.path-theme-ubertheme-basic form.theme-settings fieldset.collapsible legend.hover,
				body.path-admin-setting form#adminsettings .admin-setting-group h3.hover{
					background-color: #7f7f7f;
					trasition: background-color 0.2s linear 0s;
					}

		body.path-theme-ubertheme-basic form.theme-settings fieldset.collapsible .fcontainer,
		body.path-admin-setting form#adminsettings .admin-setting-group.show .form-item{
			display: block;
			}

		body.path-theme-ubertheme-basic form.theme-settings fieldset.collapsible.collapsed .fcontainer,
		body.path-admin-setting form#adminsettings .admin-setting-group .form-item{
			display: none;
			}

/* Banner */

#section-header{
	height: auto;
	}

	#page-header .banner{
		height: auto;
		position: relative;
		}

		#page-header .banner .bg{
			display: block;
			height: 100%;
			margin: 0;
			}

			#page-header .banner .bg li{
				margin: 0;
				position: absolute;
				top: 0;
				}
				
			#page-header .banner .bg li.show{
				display: block;
				}

			#page-header .banner .bg li.hide{
				display: none;
				}