/*-----------------------------------------------------------------------------------*/
/* Section Comment
/*-----------------------------------------------------------------------------------*/

/* Sub-Section Comment ***********************/

/* Standard Comment */

#section-header{ /* For Default Theme */
	background-image: url([[pix:theme|banner_default]]);
	
	}

	#page-header{
		height: 100%;
		position: relative;
		}

		#page-header .meta{
			overflow: visible !important;
			position: absolute;
			width: 100%;
			z-index: 2;
			}

			#page-header .meta .headermain{
				display: none;
				float: left;
				}

			#page-header .meta .headermenu{
				float: right;
				}
				
				#page-header .meta .headermenu .logininfo{
					background-color: #FFFFFF;
					color: #000000;
					padding: 5px 10px;
					}

					#page-header .meta .headermenu .logininfo a{
						background-color: #FFFFFF;
						background-image: url([[pix:theme|header/meta/arrow-down]]);
						background-position: right center;
						background-repeat: no-repeat;
						color: #000000;
						padding-right: 20px;
						}

					#page-header .meta .headermenu .logininfo a:hover{
						background-image: url([[pix:theme|header/meta/arrow-up]]);
						}

		#page-header .bg{
			xvisibility: hidden;
			}

/* Theme Settings Pages */

body.path-theme-ubertheme-basic form.theme-settings,
body#page-theme-ubertheme-admin form#adminsettings{

	}

	body.path-theme-ubertheme-basic form.theme-settings fieldset.collapsible,
	body#page-theme-ubertheme-admin form#adminsettings fieldset.collapsible{
		
		}

/* Custom - Should Remove Colors etc */
		body.path-theme-ubertheme-basic form.theme-settings fieldset.collapsible legend,
		body.path-admin-setting form#adminsettings .admin-setting-group h3{
			background-color: #999999;
			color: #FFFFFF;
			margin-bottom: 0;
			padding: 1%;
			width: 98%;
			}

			body.path-theme-ubertheme-basic form.theme-settings fieldset.collapsible legend a{
				color: #FFFFFF;
				display: block;
				height: 100%;
				padding: 0;
				width: 100%;
				}
			
			body.path-admin-setting form#adminsettings .admin-setting-group h3{
				cursor: pointer;
				}

				body.path-theme-ubertheme-basic form.theme-settings fieldset.collapsible legend.hover,
				body.path-admin-setting form#adminsettings .admin-setting-group h3.hover{
					background-color: #7f7f7f;
					trasition: background-color 0.2s linear 0s;
					}

		body.path-theme-ubertheme-basic form.theme-settings fieldset.collapsible .fcontainer,
		body.path-admin-setting form#adminsettings .admin-setting-group.show .form-item{
			display: block;
			}

		body.path-theme-ubertheme-basic form.theme-settings fieldset.collapsible.collapsed .fcontainer,
		body.path-admin-setting form#adminsettings .admin-setting-group .form-item{
			display: none;
			}

/* Banner */

#section-header{
	height: auto;
	}

	#page-header .banner{
		height: auto;
		position: relative;
		}

		#page-header .banner .bg{
			display: block;
			height: 100%;
			margin: 0;
			}

			#page-header .banner .bg li{
				margin: 0;
				position: absolute;
				top: 0;
				}
				
			#page-header .banner .bg li.show{
				display: block;
				}

			#page-header .banner .bg li.hide{
				display: none;
				}