/*-----------------------------------------------------------------------------------*/
/* Global Errors
/*-----------------------------------------------------------------------------------*/

/* Sub-Section Comment ***********************/

/* Standard Comment */

/* Notification Strips ***********************/

.notifyproblem,
.notifysuccess,
.notifymessage,
.redirectmessage,
.green{
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	}
	
.error{
	padding: 8px 35px 8px 0;
	}

	.notifysuccess,
	.green{
		background-color: #dff0d8;
		color: #468847;
		}
	
		.notifysuccess a,
		.green a{
			border-bottom: 1px dotted #468847;
			color: inherit;
			font-weight: bold;
			}
	
	.notifyproblem{
		background-color: #f2dede;
		color: #b94a48;
		}
	
		.notifyproblem a{
			border-bottom: 1px dotted #b94a48;
			color: inherit;
			font-weight: bold;
			}
	
	.notifymessage{
		background-color: #d9edf7;
		color: #3a87ad;
		}
	
		.notifymessage a{
			border-bottom: 1px dotted #3a87ad;
			color: inherit;
			font-weight: bold;
			}
	
	.redirectmessage{
		background-color: #FFEC86;
		color: #8F7C16;
		}
	
		.redirectmessage a{
			border-bottom: 1px dotted #8F7C16;
			color: inherit;
			font-weight: bold;
			}

/* Notification Box ***********************/

.notice.generalbox,
#notice.generalbox{
	background: #FFF;
	border: 1px dotted #333;
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	}