/*-----------------------------------------------------------------------------------*/
/* Global Styles
/*-----------------------------------------------------------------------------------*/

#support-widget{
	background: #333;
	font-size: 80%;
    position: relative;
    width: 100%;
	}
		
	#support-widget ul{
		display: inline-block;
		margin: 0;
		vertical-align: top;
		width: 50%;
		}
			
	/* Responsive Setting - Normal/Narrow/Mobile */
	.normal #support-widget ul{
		width: 40%;
		}
	
	.narrow #support-widget ul,	
	.mobile #support-widget ul{
		display: inline-block;
		text-align: center;
		width: 100%;
		}
		/* End */
		
		#support-widget li{
			color: #CCC;
			display: inline-block;
			line-height: 320%;
			margin: 0;
			width: auto;
			}

			#support-widget li span{
				display: inline-block;
				}
			
			#support-widget li a{
				background-color: transparent;
				display: inline-block;
				color: #999;
				padding: 0 10px;
				transition: background-color 0.3s linear 0s;
				}
			
			#support-widget li a:hover{
				background-color: #222;
				}
				
			/* Responsive Setting - Mobile */
			.mobile #support-widget ul li,
			.mobile #support-widget ul li a{
				display: block;
				padding: 0;
				text-align: center;
				width: 100%;
				}
				/*  End */


/*-----------------------------------------------------------------------------------*/
/* Support Details 
/*-----------------------------------------------------------------------------------*/

/* Responsive Setting - Mobile */
.mobile #support-widget ul li,
.mobile #support-widget ul li span + a{
	border-top: 1px dotted #222;
	}
	/* End */	

#support-widget a.lp-logo{
	background: transparent url("[[pix:theme|footer/support-widget/support-logo]]") no-repeat center center;
	margin-right: 10px;
	opacity: 1;
	text-indent: -9999px;
	transition: background-color 0.3s linear 0s;
	width: 40px;
	}

	#support-widget a.lp-logo:hover{
		background-color: #222;
		}

#support-widget li.site span{
	margin-right: 5px;
	}


/*-----------------------------------------------------------------------------------*/
/* Support Tests
/*-----------------------------------------------------------------------------------*/

#support-widget ul.tests{
	text-align: right;
	}	
	
/* Responsive Setting - Normal/Narrow/Mobile */
.normal #support-widget ul.tests{
	width: 60%;
	}
	
.narrow #support-widget ul.tests,
.mobile #support-widget ul.tests{
	text-align: center;
	}		
	/* End */	
	
	/* Responsive Setting - Mobile */
	.mobile #support-widget ul.tests li{
		vertical-align: bottom;
		}

	.mobile #support-widget ul.tests li span{
		margin-right: 0;
		}
		/* End */	
	
	#support-widget ul.tests li span{
		margin-right: 10px;
		padding-right: 25px;
		}

	#support-widget ul.tests li.failed span,
	#support-widget ul.tests li.passed span{
		background: url("[[pix:theme|footer/support-widget/not-enabled]]") no-repeat right center;
		}
	
	#support-widget ul.tests li.passed{
		background-image: url("[[pix:theme|footer/support-widget/enabled]]");
		}
	
		#support-widget ul.tests li button{
			background-color: #444;
			background-position: 18px center;
			padding: 0;
			text-indent: -9999px;
			transition: background-color 0.3s linear 0s;
			vertical-align: top;
			width: 40px;
			}
			
		#support-widget ul.tests li button:hover{
			background-color: #222;
			}
			
		/* Responsive Setting - Mobile */
		.mobile #support-widget ul.tests li button{
			background-position: center center;
			width: 100%;
			}
			/* End */	

