/*-----------------------------------------------------------------------------------*/
/* Section Comment
/*-----------------------------------------------------------------------------------*/

/* Global Screen Settings **********/

#ticker{
	background: #FFF;
	padding-top: 20px;
	width: 100%;
	}
	
#ticker .wrapper{
	background: #FAFAFA;
	margin: 0 auto;
	}

#ticker h2{
	color: #2087B3;
	display: inline-block;
	*display: inline;
	font-size: 100%;
	line-height: 30px;
	margin: 0;
	overflow: hidden;
	position: relative;
	text-indent: 10px;
	vertical-align: top;
	width: 60px;
	zoom: 1;
	}

#ticker ul{
	display: inline-block;
	*display: inline;
	height: 30px;
	margin: 0;
	position: relative;
	overflow: hidden;
	vertical-align: top;
	zoom: 1;
	}

#ticker li{
	cursor: move;
	height: 30px;
	line-height: 30px;
	left: 0;
	margin: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	position: absolute;
	white-space: nowrap;
	}

#ticker li a{
	display: block;
	color: #666;
	height: 30px;
	line-height: 30px !important;
	}

#ticker .controls{
	display: inline-block;
	*display: inline;
	margin: 0;
	overflow: hidden;
	padding-left: 10px;
	position: relative;
	width: 30px;
	vertical-align: top;
	zoom: 1;
	}
	
	.mobile #ticker .controls{
		position: absolute;
		right: 0;
		}


	#ticker .controls button{
		background: #2087B3 url([[pix:theme|bg_ticker-control]]) no-repeat center center;
		border: none;
		height: 30px;
		padding: 0;
		width: 30px;
		}

/* Wide Screen Setting **********/

.wide #ticker .wrapper{
	width: 1180px;
  }

.wide #ticker ul{
	width: 1080px;
	}

/* Normal Screen Setting **********/

.normal #ticker .wrapper{
	width: 940px;
	}

.normal #ticker ul{
	width: 840px;
	}

/* Narrow Screen Setting **********/

.narrow #ticker .wrapper{
	width: 736px;
	}

.narrow #ticker ul{
	width: 636px;
	}

/* Mobile Screen Setting **********/

.mobile #ticker .wrapper{
	width: 100%;
	}

.mobile #ticker ul{
	width: 240px;
	}