/*-----------------------------------------------------------------------------------*/
/* Section Comment
/*-----------------------------------------------------------------------------------*/

/* Sub-Section Comment ***********************/

/* Standard Comment */

a {
	color: #0088cc;
	text-decoration: none;
	}
	
a:hover,
a:focus {
	color: #005580;
	text-decoration: none;
	}

#region-main-wrap p a:visited {
	color: #996666;
	text-decoration: none;
	}

p{
	margin: 0 0 10px;
	}

small {
	font-size: 85%;
	}

strong{
	font-weight: bold;
	}

em{
	font-style: italic;
	}

cite{
	font-style: normal;
	}

pre,
pre,
code,
kbd,
samp,
tt{
	font-family: monospace;
	font-size: 100%;
	line-height: 140%;
	}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: inherit;
	font-family: "Segoe UI Semilight";
	font-weight: normal;
	line-height: 100%;
	margin: 10px 0;
	text-rendering: optimizelegibility;
	}

h1,
h2,
h3 {
	line-height: 100%;
	}

h1 {
	font-size: 246%;
	}

h2 {
	font-size: 200%;
	}

h3 {
	font-size: 160%;
	}

h4 {
	font-size: 115%;
	}

h5 {
	font-size: 90%;
	}

h6 {
	font-size: 70%;
	}

hr {
	border: 0;
	border-bottom: 1px solid #FFF;
	border-top: 1px solid #EEE;
	margin: 20px 0;
	}

abbr[title],
abbr[data-original-title],
acronym{
	border-bottom: 1px dotted #999;
	cursor: help;
	}
	
sub, sup{
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
	}
	
sub{
	bottom: -5px;
	}

sup{
	top: -5px;
	}

blockquote{
	border-left: 5px solid #F0F0F0;
	margin: 0 0 20px;
	padding: 0 0 0 15px;
	}

blockquote p{
	font-size: 110%;
	line-height: 160%;
	margin-bottom: 0;
	}

q:before,
q:after,
blockquote:before,
blockquote:after {
	content: "";
	}

address {
	display: block;
	font-style: normal;
	line-height: 130%;
	margin-bottom: 20px;
	}

br{
	display: none;
	}