

/** Columns - 290px wide side columns 
		-------------------------------------------------------------------------*/

/** Content Columns **/

#page-content {
		padding: 0 1.04167%
			}

		#page-content #region-main-wrap {
				width: 67%
					}

		#page-content #region-post {
				width: 30.8%
					}

		#page-content #region-main {
				width: 50.8%
					}

		#page-content #region-pre {
				width: 46%
					}

/** Only side pre **/

body.side-pre-only #page-content #region-main {
		width: 67%
			}

body.side-pre-only #page-content #region-pre {
		width: 30.8%
			}

