

/**
 * Whilst the dock isn't supported by the base theme this CSS is here so that those
 * themes that do want to use the dock will have a starting point at least
 */

/* Put a margin on the body if the dock is shown */

body.has_dock {
		margin-left: 30px
			}

/** For the dock itself */

#dock {
		background-color: #FFF;
		border-right: 1px solid #000;
		height: 100%;
		left: 0px;
		position: fixed;
		top: 0px;
		width: 30px;
		z-index: 11000;
			}

		#dock .dockeditem .firstdockitem {
				margin-top: 1em
					}

		#dock .dockedtitle {
				border-bottom: 1px solid #000;
				border-top: 1px solid #000;
				cursor: pointer;
					}

				#dock .dockedtitle .filterrotate {
						margin-left: 8px
							}

				#dock .dockedtitle h2 {
						font-size: 0.8em;
						line-height: 100%;
						text-align: center;
							}

		#dock .controls {
				bottom: 1em;
				position: absolute;
				text-align: center;
				width: 100%;
					}

				#dock .controls img {
						cursor: pointer
							}

#dock.nothingdocked {
		display: none;
		visibility: hidden;
			}

/** For the panel the docked blocks are shown in */

#dockeditempanel {
		left: 100%;
		min-width: 200px;
		overflow: hidden;
		position: relative;
		z-index: 12000;
			}

		#dockeditempanel .dockeditempanel_content {
				background-color: #fff;
				border: 1px solid #000;
				z-index: 12050;
					}

		#dockeditempanel .dockeditempanel_hd {
				border-bottom: 1px solid #000;
				text-align: right;
					}

				#dockeditempanel .dockeditempanel_hd .commands {
						display: inline
							}

						#dockeditempanel .dockeditempanel_hd .commands img {
								margin-right: 2px;
								vertical-align: middle;
									}

				#dockeditempanel .dockeditempanel_hd h2 {
						display: inline;
						margin: 0;
						padding-right: 1em;
							}

		#dockeditempanel .dockeditempanel_bd {
				overflow: auto;
				width: auto;
					}

				#dockeditempanel .dockeditempanel_bd .block_docked {
						margin: 10px
							}

#dockeditempanel.dockitempanel_hidden {
		display: none
			}

/** IE 6 doesn't support fixed pos elements **/

.ie6 #dockeditempanel {
		position: absolute
			}

/** Overide for RTL layout **/

.dir-rtl #dockeditempanel {
		left: 670%
			}

