

/** Popup **/

html.path-mod-scorm {
		background: #FFF none;
		overflow: hidden;
			}

body.pagelayout-popup {
		padding: 0
			}

		body.pagelayout-popup .region-content #maincontent {
				display: none
					}

		body.pagelayout-popup #page-content {
				margin: 0;
				padding: 0;
					}

				body.pagelayout-popup #page-content #region-main-wrap,
				body.pagelayout-popup #page-content #region-main {
						float: none;
						width: 100%;
							}

		body.pagelayout-popup .generalbox {
				border: none;
				margin: 0;
					}

		body.pagelayout-popup h2.main {
				line-height: 1.3em
					}

		body.pagelayout-popup #page {
				border-radius: 0;
				box-shadow: none;
				padding: 0;
				width: auto;
					}

		body.pagelayout-popup #page {
				background-image: none
					}

.yui-layout-scroll div.yui-layout-bd {
		overflow: visible
			}

body#page-mod-scorm-player #scormtop {
		display: none
			}

/* ---------------------- 20-11-2012 ---------------------- */

body#page-course-info #page-content {
		padding: 1em
			}

/** 06-03-2013 - Nils - Remove padding from scorm popup pages **/

body#page-mod-scorm-player #page-content {
		padding: 0
			}

