/** ReportsViewer **/

/*
html {
		xbackground: #FFF none
			}

body.path-blocks-lp_reportbuilder-reports {
		xbackground: #FFF none
			}

		body.path-blocks-lp_reportbuilder-reports #report-main-content .region-content {
				margin: 0
					}

		body.path-blocks-lp_reportbuilder-reports #page {
				width: 100%
					}
*/

