/** Support Widget **/

#support-widget {
		line-height: 30px;
		padding: 25px 0;
		text-align: center;
			}

		#support-widget .internet-explorer {
				background: transparent url([[pix:theme|icon_sw_browser_ie]]) center center no-repeat
					}

		#support-widget ul.tests li {
				display: block;
				float: left;
					}

		#support-widget ul.tests li:last-child {
				border-radius: 0 5px 5px 0
					}

		#support-widget ul.tests li span {
				display: block;
				font: 0/inherit a;
					}

		#support-widget .wrapper {
				background: #4E5055 none;
				border-radius: 5px;
				margin: 0 auto;
				overflow: hidden;
				position: relative;
				width: 640px;
					}

				#support-widget .wrapper ul.tests li.failed {
						background: rgb(161,79,80);
						background: -moz-linear-gradient(top,	rgb(161,79,80) 0%, rgb(121,45,47) 100%);
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(161,79,80)), color-stop(100%,rgb(121,45,47)));
						background: -webkit-linear-gradient(top,	rgb(161,79,80) 0%,rgb(121,45,47) 100%);
						background: -o-linear-gradient(top,	rgb(161,79,80) 0%,rgb(121,45,47) 100%);
						background: -ms-linear-gradient(top,	rgb(161,79,80) 0%,rgb(121,45,47) 100%);
						background: linear-gradient(top,	rgb(161,79,80) 0%,rgb(121,45,47) 100%);
						border-color: #FFF rgb(121,45,47) #FFF rgb(161,79,80);
						border-style: solid;
						border-width: 0 1px;
						cursor: pointer;
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a14f50', endColorstr='#792d2f',GradientType=0 );
							}

				#support-widget .wrapper ul.tests li.failed:hover {
						background: rgb(205,78,78);
						background: -moz-linear-gradient(top,	rgb(205,78,78) 0%, rgb(144,27,27) 100%);
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(205,78,78)), color-stop(100%,rgb(144,27,27)));
						background: -webkit-linear-gradient(top,	rgb(205,78,78) 0%,rgb(144,27,27) 100%);
						background: -o-linear-gradient(top,	rgb(205,78,78) 0%,rgb(144,27,27) 100%);
						background: -ms-linear-gradient(top,	rgb(205,78,78) 0%,rgb(144,27,27) 100%);
						background: linear-gradient(top,	rgb(205,78,78) 0%,rgb(144,27,27) 100%);
						border-color: #FFF rgb(144,27,27) #FFF rgb(205,78,78);
						border-style: solid;
						border-width: 0 1px;
						cursor: pointer;
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd4e4e', endColorstr='#901b1b',GradientType=0 );
							}

				#support-widget .wrapper ul.tests li.passed {
						background: rgb(135,161,80);
						background: -moz-linear-gradient(top,	rgb(135,161,80) 0%, rgb(98,122,47) 100%);
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(135,161,80)), color-stop(100%,rgb(98,122,47)));
						background: -webkit-linear-gradient(top,	rgb(135,161,80) 0%,rgb(98,122,47) 100%);
						background: -o-linear-gradient(top,	rgb(135,161,80) 0%,rgb(98,122,47) 100%);
						background: -ms-linear-gradient(top,	rgb(135,161,80) 0%,rgb(98,122,47) 100%);
						background: linear-gradient(top,	rgb(135,161,80) 0%,rgb(98,122,47) 100%);
						border-color: #FFF rgb(98,122,47) #FFF rgb(135,161,80);
						border-style: solid;
						border-width: 0 1px;
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87a150', endColorstr='#627a2f',GradientType=0 );
							}

				#support-widget .wrapper ul.tests li.passed:hover {
						background: rgb(165,205,78);
						background: -moz-linear-gradient(top,	rgb(165,205,78) 0%, rgb(108,144,27) 100%);
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(165,205,78)), color-stop(100%,rgb(108,144,27)));
						background: -webkit-linear-gradient(top,	rgb(165,205,78) 0%,rgb(108,144,27) 100%);
						background: -o-linear-gradient(top,	rgb(165,205,78) 0%,rgb(108,144,27) 100%);
						background: -ms-linear-gradient(top,	rgb(165,205,78) 0%,rgb(108,144,27) 100%);
						background: linear-gradient(top,	rgb(165,205,78) 0%,rgb(108,144,27) 100%);
						border-color: #FFF rgb(108,144,27) #FFF rgb(165,205,78);
						border-style: solid;
						border-width: 0 1px;
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5cd4e', endColorstr='#6c901b',GradientType=0 );
							}

				#support-widget .wrapper .lp-logo {
						border-radius: 5px 0 0 5px;
						padding: 0;
							}

				#support-widget .wrapper .lp-logo,
				#support-widget .wrapper ul.tests li {
						background: rgb(105,107,113);
						background: -moz-linear-gradient(top,	rgba(105,107,113,1) 0%, rgba(75,77,81,1) 100%);
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(105,107,113,1)), color-stop(100%,rgba(75,77,81,1)));
						background: -webkit-linear-gradient(top,	rgba(105,107,113,1) 0%,rgba(75,77,81,1) 100%);
						background: -o-linear-gradient(top,	rgba(105,107,113,1) 0%,rgba(75,77,81,1) 100%);
						background: -ms-linear-gradient(top,	rgba(105,107,113,1) 0%,rgba(75,77,81,1) 100%);
						background: linear-gradient(top,	rgba(105,107,113,1) 0%,rgba(75,77,81,1) 100%);
						border-color: #FFF rgb(75,77,81) #FFF rgb(105,107,113);
						border-style: solid;
						border-width: 0 1px;
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696b71', endColorstr='#4b4d51',GradientType=0 );
							}

				#support-widget .wrapper .retest {
						background: transparent none;
						border: 0;
						display: block;
						float: right;
						font: 0/inherit a;
						padding: 0 10px;
							}

				#support-widget .wrapper .tests {
						float: right;
						margin: 0;
							}

				#support-widget .wrapper .opts {
						color: #FFF;
						display: inline;
						float: none;
						padding: 0 10px;
							}

				#support-widget .wrapper span {
						display: block;
						float: left;
						padding: 0 20px;
						position: relative;
							}

				#support-widget .wrapper a {
						color: #FFF
							}

				#support-widget .wrapper a:hover {
						background: transparent none;
						border: none;
						text-decoration: underline;
							}

		#support-widget .browser {
				background: transparent url([[pix:theme|icon_sw_browser]]) center center no-repeat
					}

		#support-widget .firefox {
				background: transparent url([[pix:theme|icon_sw_browser_firefox]]) center center no-repeat
					}

		#support-widget .safari {
				background: transparent url([[pix:theme|icon_sw_browser_safari]]) center center no-repeat
					}

		#support-widget .chrome {
				background: transparent url([[pix:theme|icon_sw_browser_chrome]]) center center no-repeat
					}

		#support-widget .popup {
				background: transparent url([[pix:theme|icon_sw_popups]]) center center no-repeat
					}

		#support-widget .flash {
				background: transparent url([[pix:theme|icon_sw_flash]]) center center no-repeat
					}

		#support-widget .js {
				background: transparent url([[pix:theme|icon_sw_js]]) center center no-repeat
					}

body.ie6 #support-widget .js {
		background: transparent url([[pix:theme|icon_sw_js_ie6]]) center center no-repeat
			}

#support-widget .wrapper .lp-logo a,
#support-widget .wrapper .lp-logo a:hover {
		background: transparent url([[pix:theme|logo_tiny_lp]]) center center no-repeat;
		display: block;
		padding: 0 17px 0 22px;
			}

body.ie6 #support-widget .popup {
		background: transparent url([[pix:theme|icon_sw_popups_ie6]]) center center no-repeat
			}

body.ie6 #support-widget .flash {
		background: transparent url([[pix:theme|icon_sw_flash_ie6]]) center center no-repeat
			}

body.ie6 #support-widget .browser {
		background: transparent url([[pix:theme|icon_sw_browser_ie6]]) center center no-repeat
			}

body.ie6 #support-widget .internet-explorer {
		background: transparent url([[pix:theme|icon_sw_browser_ie_ie6]]) center center no-repeat
			}


/** Gradients and stuff **/
#support-widget .wrapper .lp-logo,
#support-widget .wrapper ul.tests li {
		background: rgb(105,107,113);
		background: -moz-linear-gradient(top,	rgba(105,107,113,1) 0%, rgba(75,77,81,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(105,107,113,1)), color-stop(100%,rgba(75,77,81,1)));
		background: -webkit-linear-gradient(top,	rgba(105,107,113,1) 0%,rgba(75,77,81,1) 100%);
		background: -o-linear-gradient(top,	rgba(105,107,113,1) 0%,rgba(75,77,81,1) 100%);
		background: -ms-linear-gradient(top,	rgba(105,107,113,1) 0%,rgba(75,77,81,1) 100%);
		background: linear-gradient(top,	rgba(105,107,113,1) 0%,rgba(75,77,81,1) 100%);
		border-color: #FFF rgb(75,77,81) #FFF rgb(105,107,113);
		border-style: solid;
		border-width: 0 1px;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696b71', endColorstr='#4b4d51',GradientType=0 );
			}

#support-widget .wrapper ul.tests li.passed {
		background: rgb(135,161,80);
		background: -moz-linear-gradient(top,	rgb(135,161,80) 0%, rgb(98,122,47) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(135,161,80)), color-stop(100%,rgb(98,122,47)));
		background: -webkit-linear-gradient(top,	rgb(135,161,80) 0%,rgb(98,122,47) 100%);
		background: -o-linear-gradient(top,	rgb(135,161,80) 0%,rgb(98,122,47) 100%);
		background: -ms-linear-gradient(top,	rgb(135,161,80) 0%,rgb(98,122,47) 100%);
		background: linear-gradient(top,	rgb(135,161,80) 0%,rgb(98,122,47) 100%);
		border-color: #FFF rgb(98,122,47) #FFF rgb(135,161,80);
		border-style: solid;
		border-width: 0 1px;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87a150', endColorstr='#627a2f',GradientType=0 );
			}

#support-widget .wrapper ul.tests li.passed:hover {
		background: rgb(165,205,78);
		background: -moz-linear-gradient(top,	rgb(165,205,78) 0%, rgb(108,144,27) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(165,205,78)), color-stop(100%,rgb(108,144,27)));
		background: -webkit-linear-gradient(top,	rgb(165,205,78) 0%,rgb(108,144,27) 100%);
		background: -o-linear-gradient(top,	rgb(165,205,78) 0%,rgb(108,144,27) 100%);
		background: -ms-linear-gradient(top,	rgb(165,205,78) 0%,rgb(108,144,27) 100%);
		background: linear-gradient(top,	rgb(165,205,78) 0%,rgb(108,144,27) 100%);
		border-color: #FFF rgb(108,144,27) #FFF rgb(165,205,78);
		border-style: solid;
		border-width: 0 1px;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5cd4e', endColorstr='#6c901b',GradientType=0 );
			}

#support-widget .wrapper ul.tests li.failed {
		background: rgb(161,79,80);
		background: -moz-linear-gradient(top,	rgb(161,79,80) 0%, rgb(121,45,47) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(161,79,80)), color-stop(100%,rgb(121,45,47)));
		background: -webkit-linear-gradient(top,	rgb(161,79,80) 0%,rgb(121,45,47) 100%);
		background: -o-linear-gradient(top,	rgb(161,79,80) 0%,rgb(121,45,47) 100%);
		background: -ms-linear-gradient(top,	rgb(161,79,80) 0%,rgb(121,45,47) 100%);
		background: linear-gradient(top,	rgb(161,79,80) 0%,rgb(121,45,47) 100%);
		border-color: #FFF rgb(121,45,47) #FFF rgb(161,79,80);
		border-style: solid;
		border-width: 0 1px;
		cursor: pointer;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a14f50', endColorstr='#792d2f',GradientType=0 );
			}

#support-widget .wrapper ul.tests li.failed:hover {
		background: rgb(205,78,78);
		background: -moz-linear-gradient(top,	rgb(205,78,78) 0%, rgb(144,27,27) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(205,78,78)), color-stop(100%,rgb(144,27,27)));
		background: -webkit-linear-gradient(top,	rgb(205,78,78) 0%,rgb(144,27,27) 100%);
		background: -o-linear-gradient(top,	rgb(205,78,78) 0%,rgb(144,27,27) 100%);
		background: -ms-linear-gradient(top,	rgb(205,78,78) 0%,rgb(144,27,27) 100%);
		background: linear-gradient(top,	rgb(205,78,78) 0%,rgb(144,27,27) 100%);
		border-color: #FFF rgb(144,27,27) #FFF rgb(205,78,78);
		border-style: solid;
		border-width: 0 1px;
		cursor: pointer;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd4e4e', endColorstr='#901b1b',GradientType=0 );
			}


