/** Panel
		-------------------------------------------------------------*/

/** YUI3 Panel - Outer **/

.yui3-widget-modal {
		position: fixed
			}

.yui3-panel {
		background: #FFF none
			}

.yui3-panel-hidden {
		visibility: hidden
			}

/** DLE Panel - Inner **/

.yui3-panel-content {
		position: relative
			}

		.yui3-panel-content .yui3-widget-bd {
				overflow: auto;
				padding: 10px 20px;
					}

				.yui3-panel-content .yui3-widget-bd .wait {
						font-size: 2em;
						font-weight: bold;
						line-height: 200px;
						text-align: center;
							}

		.yui3-panel-content .yui3-widget-ft {
				background: transparent none;
				min-height: auto;
				padding: 0;
					}

		.yui3-panel-content a.close {
				font-weight: bold;
				line-height: 30px;
					}

		.yui3-panel-content a.close:hover {

					}

/** Close Button **/

/** Heading **/

.yui3-skin-sam .yui3-panel-content .yui3-widget-hd {
		background: #FFF none;
		color: #000;
		min-height: 0;
		padding: 10px;
			}

/** Content **/

/** Footer **/

/** File Picker ----------------------------- **/

.yui-panel-container .file-picker a:hover {
		background: transparent none;
		border: none;
			}

