

/** Overlay
		-------------------------------------------------------------*/

/** YUI3 Overlay - Outer **/

.yui3-overlay {
		background: #FFF none;
		box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.65);
		position: fixed;
		z-index: 1000 !important;
			}

.yui3-overlay-hidden {
		visibility: hidden
			}

/** DLE Overlay - Inner **/

.yui3-overlay-content {
		position: relative
			}

		.yui3-overlay-content .yui3-widget-bd {
				overflow: auto;
				padding: 10px 20px;
					}

				.yui3-overlay-content .yui3-widget-bd .wait {
						font-size: 2em;
						font-weight: bold;
						line-height: 200px;
						text-align: center;
							}

		.yui3-overlay-content .yui3-widget-ft {
				padding: 10px
					}

		.yui3-overlay-content .yui3-widget-hd {
				padding: 10px
					}

		.yui3-overlay-content button.close {
				background: transparent url([[pix:theme|ico_s_utils_40]]) 0 0 no-repeat;
				border: none;
				height: 40px;
				position: absolute;
				right: -15px;
				top: -15px;
				width: 40px;
					}

		.yui3-overlay-content button.close:hover {
				background-position: 0 -40px;
				cursor: pointer;
					}

/** Close Button **/

/** Heading **/

/** Content **/

/** Footer **/

